.app__portfolio{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin: 4rem 6rem;
}

.app__portfolio-content{
  background: var(    --color-bg-varient);
  padding: 1.5rem;
  border-radius: 1rem;
  
}

.app__portfolio-content img{
  border-radius: 1rem;
  margin: 1rem 0;

}

.app__portfolio-buttons{
  margin: 1rem 0;
}

@media screen and (max-width:1024px) {
  .app__portfolio{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin: 3rem 4rem;
  }
}

@media screen and (max-width:600px) {
  .app__portfolio{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    margin: 3rem 4rem;
  }
}