.app__footer{
background: var( --color-primary);
color: var(  --color-bg);
padding: 2rem;
}

.app__footer-content h1{
  text-align: center;
}

.footer_nav ul{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 2rem;
  margin: 1rem 0;
}

.footer_icon{
  justify-content: center;
  align-items: center;
  text-align: center;
 font-size: 2rem;
 margin: 2rem;
}
 h5{
  justify-content: center;
  align-items: center;
  text-align: center;
}


@media screen and (max-width:600px) {
  .footer_nav ul{
    gap: 1rem;
    font-size: .8rem;
    font-weight: 300;
  }
}